* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #EEEEEE;
    height: 100%;
 
}

header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    color: black;
    padding: 20px; 
   
}
main {

    flex: 1;
    padding-top: 50px;  
  
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
     
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 40px;
    background-color: #1e7aab;
    border-radius: 4px;
    
}

input {

    text-align: center;
    height: 40px;
    width: 150px;
    padding: 5px;
    border-radius: 4px;
    border: 0.5px solid gray;
    

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    background-color: #FFB74D;
    color: rgb(19, 18, 18);
    font-weight: bold;
    border: none;
 
}

#resultado {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    color: black;
    
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #F9F9F9;
    text-align: center;
    padding: 20px;
    
}



.resultado {
   
    height: 100px;
    border-radius: 4px;
    margin-bottom: 30px;
    
}